<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EAT DA BURGER!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

</head>
<body>
   
    <div class="container">
         {{{ body }}}
       

        
    <!-- <footer>
        <a href="/api/burgers">Burgers List</a>  |
        <a href="https://www.github.com/selmadelgado/burger" target="_blank">GitHub Repo</a>  |
        <a href="/api/burgers/reset">Delete All Burgers</a>
    </footer> -->
    </div>
</body>
</html>